<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSUIElement</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.sulakshana.tempo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.400499345876-u9u0no7nqh4r586jue75cafqvh37sg2c</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
